script(src='js/addRecipe.js')

form(action='/add', method='post')

  .name
    input#name(name='name', type='text', placeholder='Name')
  .description
    textarea.input-xlarge(rows=3, name='description', placeholder='Description')
  .ingredients
    input#ingredient(name='amount', type='text', placeholder='Amount')
    input#ingredient(name='measure', type='text', placeholder='Measure')
    input#ingredient(name='ingredient', type='text', placeholder='Ingredient')
  .instructions
    input#instruction(name='instruction', type='text', placeholder='Instruction')

    .form-actions
      button(type='submit').btn.btn-primary
        i.icon-ok Create
      &nbsp;
      a.btn.btn-warning(href='/') 
        i.icon-ban-cirle Cancel
