form(action='/fix', method='post')
  h3=recipe.name
  .ingredients
    each ingredient in recipe.ingredients
      .ingredient
        input#ingredient(name='name', type='text', style=('width:500px'), value=ingredient.name)

  input(type= 'hidden', name= 'recipe_id', value= recipe._id)
  .form-actions
    button(type='submit') Done
