extends layout

block content
  .container
    .row
      .span12(style="text-align:center")
        h1 What Can I Make For Dinner With The
        h1 Ingredients That I Have In My House
    .row.search-container
      .span6
        input#search(type="text", placeholder="Enter an ingredient...")
      .span6
        #search-results
