doctype 5
html
  head
    title What Can I Make For Dinner With The Ingredients That I Have In My House
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
