body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
}

a:hover {
  color: #000;
}

a {
  color: #666;
}

.result {
  border-bottom: 1px solid #bbb;
  padding: 10px 0px;
  margin: 10px 0px;
  height: 120px;
}


.result .name {
  font-weight: bold;
}

.result img {
  width: 140px;
}

.result img.check {
  width: 14px;
}

.image-clip {
  height: 120px;
  overflow: hidden;
}

.result a {
  height: 80px;
  display: block;
}

input#search {
  width: 400px;
}

.search-container {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #bbb;
}

.recipe {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #bbb;
}

ul li {
  list-style-type: none;
}

.recipe li {
  padding-bottom: 10px;
}

.iframe {
  position: fixed;
  bottom: 50px;
  left: 50px;
  height:25px;
}
