ul
  each ingredient in ingredients
    li
      if(listedIngredients.indexOf(ingredient.name) != -1)
        img.check(src="img/green-checkmark.png")
      else
        i.icon-asterisk
      | &nbsp;&nbsp;
      =ingredient.description
